<!--*************************************************
UI for the settings panel for rolling notes. Uses angular model, wix ui lib & html.
Includes design settings, template settings and the manage notes screen.
*************************************************-->
<!DOCTYPE html>
<html ng-app="settingsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Settings</title>
    <!-- build:settings-css -->
    <link rel="stylesheet" href="/javascripts/bower_components/wix-ui-lib2/ui-lib.css"/>
    <!-- endbuild -->
    <link rel="stylesheet" href="/stylesheets/settings-styles.css"/>
    <style type="text/css" wix-style>
        .note-widget {
            {{style.font}}
        }

        site-template-colors {
            color: {{color-1}};
            background-color: {{color-8}};
            border-color: {{color-6}};
            outline-color: {{color-9}};
        }

        #defaultNoteTemplateIcon {
            background-color: {{color-8}};
            border:2px solid {{color-6}};
        }

        #defaultNoteTemplateIcon p {
            color: {{color-1}};
        }

    </style>
</head>
<!-- set angular controller-->
<body wix-ui ng-controller="settingsController as ctrl">
        <!-- header above settings options, visible above all settings
             includes button for manage notes screen-->
        <header class="box">
            <div class="logo">
                <img width="86" src="/images/settings-logo.png" alt="logo"/>
            </div>
            <div class="top-right-header">
                <p>This is a sample Settings view for widgets and pages created with
                    Wix's 3rd Party SDK, compatible with Wix's product requirements.
                </p>
                <!-- example of wix ui lib component (button) working with angular directive (ng-click) -->
                <button class="uilib-btn manage-btn" ng-click="ctrl.showManageNotes()">Manage Notes</button>
            </div>
        </header>
        <!-- settings tabs: Design and Transition settings-->
        <div class="feature" wix-ctrl="Tabs" wix-options="{value:0}"  style="margin: 0px">
            <ul>
                <li data-tab="tab0"><div>Design</div></li>
                <li data-tab="tab1" class="trans"><div>Transition</div></li>
            </ul>
            <!--All Tab Content-->
            <div class="tab-content">
                <!--First Tab (Design) Content-->
                <div data-tab="tab0" class="tab-pane">
                    <ui class="list uilib-text">
                         <div class = "settings-group">
                            <li class="li-group">
                                <!-- Template skins, using wix ui lib with custom images in CSS -->
                                <div class="skins-group" wix-model="template" wix-ctrl="ButtonGroup" wix-options="{value:'{{ctrl.settings.design.template}}'}">
                                    <button value="defaultNote"><div id="defaultNoteTemplateIcon"><p>This is a note.</p></div></button>
                                    <button value="spiralNote"></button>
                                    <button value="postitNote"></button>
                                    <button value="chalkboardNote"></button>
                                </div>
                                <!--<button id="resetTemplateButton" class="uilib-btn btn-small" ng-click="ctrl.resetTemplate()">Reset</button>-->
                            </li>
                        </div>
                        <!-- Custom design and text settings using Wix ui lib components and wix ui models -->
                        <div class="lower-settings">
                            <!-- font color and font style -->
                            <li class="li-group" wix-label="Text">
                                <!-- example of setting initial value of design option to existing database model with angular -->
                                <div wix-model="color" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'color-13', value:'{{ctrl.settings.design.text.color || '#ff7766'}}' }"></div>
                                <!-- example of using a wix-param, linked to the html with inline styles at the top of widget.ejs-->
                                <div wix-param="font" wix-ctrl="FontStylePicker" wix-options="{value:'Heading-M'}" ></div>
                                <div wix-model="textAlignGroup" wix-ctrl="ButtonGroup" class="textAlignOptions" wix-options="{value:'{{ctrl.settings.design.text.alignment}}'}">
                                    <button value="left" class= "ltr"><img src="/images/left.png"/></button>
                                    <button value="center" class="center"><img src="/images/center.png"/></button>
                                    <button value="right" class="rtl"><img src="/images/right.png"/></button>
                                </div>
                            </li>
                            <!-- background color and opacity-->
                            <li class="li-group" wix-label="Background Color">
                                <div wix-model="bcolorWOpacity" wix-ctrl="ColorPickerWithOpacity"
                                     wix-options="{startWithColor: '{{ctrl.settings.design.background.color || '#ffffff'}}', startWithOpacity:'{{(ctrl.settings.design.background.opacity*100) || '100'}}'}"></div>
                                <div wix-model="bOpacitySpinner" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100, value:'{{100 *ctrl.settings.design.background.opacity || '100'}}'}"></div>
                            </li>
                            <!-- hover color toggle, color, and opacity-->
                            <li class="li-group">
                                <div class="hover-check" wix-model="hoverCheckbox" wix-ctrl="Checkbox" wix-options="{preLabel:'', checked:{{ctrl.settings.design.hover.selected || false}}}"></div>
                                <span wix-label="Hover Color"></span>
                                <div wix-model="hcolorWOpacity" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: '{{ctrl.settings.design.hover.color || '#ffffff'}}', startWithOpacity:'{{('' + ctrl.settings.design.hover.opacity*100) || '100'}}'}"></div>
                                <div wix-model="hOpacitySlider" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:100,  value:'{{100 *ctrl.settings.design.hover.opacity || '100'}}' }"></div>
                            </li>
                            <!-- border color and size -->
                            <li class="li-group borderGroup" wix-label="Border">
                                <div wix-model="borderColor" wix-ctrl="ColorPicker"  wix-options="{startWithColor:'#000000', value:'{{ctrl.settings.design.border.color || '#000000'}}'}" ></div>
                                <span class="width-slider-label">Width</span>
                                <div  wix-model="borderWidth" wix-ctrl="Slider" wix-options="{ maxValue:20, preLabel:'0', postLabel:'20', value:'{{ctrl.settings.design.border.width}}'}"></div>
                                <div class="borderSpinner"wix-model="borderWidth" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:20, value:'{{ctrl.settings.border.width}}' }"></div>
                            </li>
                            <!-- border radius -->
                            <li class="li-group cornerGroup" wix-label="Corner">
                                <span class="radius-slider-label">Radius</span>
                                <div  wix-model="radius" wix-ctrl="Slider" wix-options="{ maxValue:50, preLabel:'0', postLabel:'50', value:'{{ctrl.settings.design.border.radius}}'}"></div>
                                <div class="cornerSpinner" wix-model="radius" wix-ctrl="Spinner" wix-options="{minValue: 0, maxValue:50 }"></div>
                            </li>
                            <li class="li-group cornerGroup">
                                <a class="reset-design" ng-click="ctrl.resetTemplate()">Reset Design</a>
                            </li>
                        </div>
                    </ui>
                </div>
                <!--Second Tab (Transition Tab) Content-->
                <div data-tab="tab1" class="tab-pane">
                    <ui class="list uilib-text">
                        <div class = "settings-group">
                            <li class="li-group">
                                <!-- Transition options -->
                                <div class="dur-group" wix-model="transition" wix-ctrl="ButtonGroup" wix-options="{value: '{{ctrl.settings.transition.effect}}'}">
                                    <div class="transitionButtonBlock" ng-click="ctrl.playPreview()">
                                        <!--<button value="fade" ng-mouseenter="ctrl.transitionFade = !ctrl.transitionFade" ng-mouseleave="ctrl.transitionFade = !ctrl.transitionFade">-->
                                        <button value="zoom"></button>
                                        <p>Zoom</p>
                                    </div>
                                    <div class="transitionButtonBlock" ng-click="ctrl.playPreview()">
                                        <button value="horizontal"></button>
                                        <p>Horizontal</p>
                                    </div>
                                    <div class="transitionButtonBlock" ng-click="ctrl.playPreview()">
                                        <button value="vertical"></button>
                                        <p>Vertical</p>
                                    </div>
                                    <div class="transitionButtonBlock" ng-click="ctrl.playPreview()">
                                        <button value="fade"></button>
                                        <p>Fade</p>
                                    </div>
                                </div>
                                <!-- preview transition button, locks other button while in preview -->

                            </li>
                        </div>
                        <div class="lower-settings">
                            <!-- Duration each slide is shown before transitioning -->
                            <li class="li-group durationGroup" wix-label="Slide Duration (seconds)">
                                <div  wix-model="duration" wix-ctrl="Slider" wix-options="{ minValue: 2, maxValue:10, preLabel:'2', postLabel:'10', value:'{{ctrl.settings.transition.duration}}'}"></div>
                                <div class="durationSpinner" wix-model="duration" wix-ctrl="Spinner" wix-options="{minValue: 2, maxValue:10 }"></div>
                            </li>
                        </div>
                    </ui>
                </div>
            </div>
            <!-- Manage notes screen, where user adds and edits notes, toggles visibility, adds links and deletes notes -->
            <div id="manage-notes" class="manage-notes-screen" ng-class="{'hidden-manage-notes': !visibleManageNotes}">
                <div id="manage-notes-header" ng-class="{'disabled' : popupVisible}">
                   <a class="back-to-settings-button" ng-click="ctrl.hideManageNotes()" href="#"> ⟨ Back to Settings</a>
                   <button class="uilib-btn add-note-btn" ng-click="ctrl.addNote()" ng-class="{'max-note-btn' : ctrl.settings.notes.length >= 50}"><span id="addNotePlus">+</span> Add a Note</button>
                    <p class="max-notes-msg" ng-show="ctrl.settings.notes.length >= 50">50 note maximum</p>
                </div>
                <!-- link popup becomes visible when user clicks add link button -->
                <div id="link-popup" ng-show="popupVisible">
                    <div class="link-popup-header">
                        Link
                        <div class="close-link-container">
                            <a class="icon-close" ng-click="ctrl.closeLinkPopup()"></a>
                        </div>
                    </div>
                    <hr class="horizontal">
                    <div class="upper-text">
                        <p ng-show="buttonsVisible">Choose type of link</p>
                        <!--<a ng-click="ctrl.backToOptions()">Learn More</a>-->
                        <a ng-show="optionsVisible" ng-click="ctrl.backToOptions()">< Back to link options</a>
                    </div>

                    <div class="link-buttons" ng-show="buttonsVisible">
                        <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLink(1)">Web Address</button>
                        <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLink(2)">Page</button>
                        <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLink(3)">Email</button>
                        <button class="uilib-btn btn-secondary link-btn" ng-click="ctrl.showLink(4)">Document</button>
                    </div>

                    <div class="link-options" ng-show="optionsVisible">
                        <div class="option web-link" ng-show="linkOption === 1">
                            Insert a web address:
                            <input autofocus class="web-text input" type="text" ng-model="ctrl.noteForLink.webLink"
                                   placeholder="E.g http://www.wix.com" http-prefix>
                            <input class="radios" type="radio" ng-model="ctrl.noteForLink.link.targetVal" value="0"> Open in new window <br>
                            <input class="radios" type="radio" ng-model="ctrl.noteForLink.link.targetVal" value="1"> Open in same window
                        </div>
                        <div class="option page-link" ng-show="linkOption === 2">
                            Select Page:
                            <select ng-model="ctrl.noteForLink.pageLink" ng-options="titles.toString() for titles in ctrl.settings.pages"></select>
                        </div>
                        <div class="option email-link" ng-show="linkOption === 3">
                            Insert an email address <br>
                            <input autofocus class="email-text input email" type="text" ng-model="ctrl.noteForLink.emailLink" placeholder="E.g info@wix.com">
                            Insert a subject <br>
                            <input class="email-text input subject-text" type="text" ng-model="ctrl.noteForLink.link.subject" placeholder="E.g Request Information">
                        </div>
                        <div class="option doc-link" ng-show="linkOption === 4">
                            <p ng-show="ctrl.noteForLink && ctrl.noteForLink.docLink">{{ctrl.noteForLink.link.display}}</p>
                            <p ng-show="!ctrl.noteForLink || !ctrl.noteForLink.docLink">No Document Selected</p>
                            <br>
                            <button class="uilib-btn btn-large" ng-click="ctrl.docLink()">
                                <span>Upload</span>
                            </button>
                        </div>
                    </div>
                    <a class="remove-link" ng-click="ctrl.removeLink(ctrl.noteForLink)">Remove link</a>
                    <button class="uilib-btn btn-large submit-link-btn" ng-click="ctrl.setLink()">OK</button>
                </div>
                <!-- List of all existing notes, added drag and drop functionality, updated dynamically with angular ng-repeat directive -->
                <div ng-show="ctrl.settings.notes.length > 0" class="addNoteLine"></div>
                <ul id="manage-notes-content" class="box scrollable-notes-area"
                    ng-class="{'empty-notes-background':ctrl.settings.notes.length == 0}">
                    <div ui:sortable ng-model="ctrl.settings.notes">
                        <li ng-repeat="note in ctrl.settings.notes" class="note-container" ng-class="{'disabled' : popupVisible}"
                            ng-mouseenter="showIcons = true" ng-mouseleave="showIcons = false">
                            <div class="content-row">
                                <div class="drag-container">
                                    <img class="drag-img" src="/images/drag-icon.png" />
                                </div>
                                <div class="note-text-container" ng-init="isFocused = false">
                                    <textarea ng-model="note.msg" ng-blur="ctrl.blur(); isFocused = false" ng-trim="false" ng-focus="isFocused = true"
                                            rows="0" class="note-text" ng-class="{'unwatched-note': note.visibility == false,
                                            'note-text-max-count': (note.msg.length >= 140)}" type="text" maxlength="140"
                                             placeholder="This is a note. Click to edit"></textarea>
                                    <div class="character-count-normal" ng-class="{'character-count-max':(note.msg.length >= 140)}" ng-show="isFocused">
                                        {{note.msg.length}}/140</div>
                                </div>
                                <div class="edit-icons-container">
                                    <a class="icon-edit" ng-click="ctrl.editNoteButton($event, $index)" ng-show="showIcons == true && isFocused == false && note.visibility === true"></a>
                                    <a ng-click="ctrl.deleteNote(ctrl.settings.notes, $index)"><img id="trash-icon" src="/images/trash-icon.png" ng-show="showIcons == true && note.visibility === true"/></a>
                                    <a ng-click="note.visibility = !note.visibility; updateComponent(ctrl.settings)"
                                       ng-class="{'icon-watch' : note.visibility === true, 'icon-unwatch' : note.visibility === false}" ng-show="showIcons == true || note.visibility === false"></a>
                                </div>
                            </div>
                            <div class="link-container" ng-mouseenter="overLink = true" ng-mouseleave="overLink = false">
                                    <a ng-click="ctrl.showLinkPopup(note)" ng-show="showIcons || note.link.display"><img class="link-icon" src="/images/link-icon.png"/></a>
                                    <!--<a ng-click="ctrl.showLinkPopup(note)">{{note.link.display || "Add a link" }}</a>-->
                                    <a ng-click="ctrl.showLinkPopup(note)" ng-show="!note.link.display  && showIcons">Add a link</a>
                                    <a ng-click="ctrl.showLinkPopup(note)" ng-show="note.link.display" class="note-link-display">{{note.link.display}}</a>
                                    <a class="x-link" ng-click="ctrl.removeLink(note)" ng-show="note.link.display && overLink"><span>x</span></a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>


        <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>
        <script type="text/javascript" src="http://static.parastorage.com/services/third-party/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.parastorage.com/services/third-party/angularjs/1.2.21/angular.min.js"></script>
        <!-- build:settings-bower-components -->
        <script type="text/javascript" src="javascripts/bower_components/jqueryui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="javascripts/bower_components/angular-ui-sortable/sortable.min.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/wix-ui-lib2/ui-lib.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/angular-mailto/angular-mailto.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/visibilityjs/lib/visibility.core.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/visibilityjs/lib/visibility.timers.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/deep-diff/releases/deep-diff-0.2.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/lodash/dist/lodash.js"></script>
        <script type="text/javascript" src="/javascripts/bower_components/slimScroll/jquery.slimscroll.js"></script>
        <!-- endbuild -->

        <!-- build:settings-bundle -->
        <script type="text/javascript" src="/javascripts/settings-bundle.js"></script>
        <!-- endbuild -->


        <!-- get global settings JSON  from database -->
        <script type="text/javascript">
            var settings = <%- settings %>;
        </script>

        <!-- initilaize wix settings ui -->
        <script type="text/javascript">
            $(document).ready(function () {

                Wix.UI.initialize({
                    numOfImages: 100,
                    isIconShown: true,
                    imageVisibility: 'show',
                    imagesToSync: 0,
                    imageLink: false
                });
            });

            $('.scrollable-notes-area').slimScroll({
                height: 'auto',
                color: '#a3daf8'
            });
        </script>
</body>
</html>


