<!--*************************************************
UI for the widget app for rolling notes. Uses React, wix ui lib & html.
Includes the widget display and play logic.
*************************************************-->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Widget</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/widget-styles.css" wix-style/>

    <!-- link wix-params to widget styles using wix ui lib
         more information on inlin wix ui styles: http://wix.github.io/wix-ui-lib/#WixCustomHTMLAttributes-StyleParametersInCssStylesheet-entry -->

    <style type="text/css" wix-style>
        .note-widget {
            {{style.font Heading-M}}
        }

        .defaultNote, .wix-style-note {
            color: {{color-1}};
            background-color: {{color-8}};
            border-color: {{color-6}};
        }

        .defaultNote:hover {
            background-color: {{color-9}};
        }
    </style>
</head>

<body>

    <!-- entry point for rendered React code -->
    <div id="content"></div>

    <!-- get global settings JSON  from database -->
    <script type="text/javascript">
        var settings = <%- settings %>;
    </script>



    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.33.0/js/Wix.js"></script>
    <script type="text/javascript" src="http://static.parastorage.com/services/third-party/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://fb.me/react-with-addons-0.11.1.min.js"></script>
    <!-- build:widget-scripts -->
    <script type="text/javascript" src="/javascripts/bower_components/react/JSXTransformer.js"></script>
    <script type="text/javascript" src="/javascripts/bower_components/visibilityjs/lib/visibility.core.js"></script>
    <script type="text/javascript" src="/javascripts/bower_components/visibilityjs/lib/visibility.timers.js"></script>
    <script type="text/jsx" src="/javascripts/widget-app.js"></script>
    <!-- endbuild -->




</body>
</html>
